h1{
    font-size:xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c10000;
}
p {
    font-size:large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e9c200;
    background-color: #c10000;
}
form,input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e9c200;
}